body {
    padding-top: 106px !important;
    
}


.h-400px {
    height: 420px !important;
}


.img {
    height: 220px !important;
}
.img > img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;

    border: 5px ridge var(--botaoHover) !important;
    border-radius: 15px !important;
}

.produtos {
    gap: 10px;
    justify-content: center;
}

.produtos div {
    border-radius: 20px;
}

.produtos div button {
    background-color: var(--botaoHover) !important;
    color: #fff !important;
    font-weight: bold;
    border: 5px ridge var(--botaoHover) !important;
    border-radius: 15px !important;
    text-shadow: 0 0 20px rgb(255, 120, 120) !important;
}

@media (min-width: 2560px) {
    [class*="col-xl-2.4"] { width: 20% !important;}
    .produtos {
        gap: 32px;
    }
}