:root{
    --fundoPrincipal: #FFF8F0;
    --fundoSecoes: #F7EFE6;
    --destaques: #9B1F2D;
    --botaoPrimario: #7A1F33;
    --botaoHover: #5E1626;
    --titulos: #5A3A2E;
    --texto: #6D4C41;
    --bordaDetalhes: #EADBC8;
    --destaqueIcones: #D8A45B;
}

*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

